<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />

    <title>New folder</title>
  </head>
  <body>
    <h1>Creat a new folder</h1>

    <form action="/add-folder" method="POST">
      <label for="name">Folder name</label>
      <input type="text" id="name" name="name" placeholder="work" />
      <button type="submit">Create folder</button>
    </form>
  </body>
</html>
