<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />

    <title>Your files</title>
  </head>
  <body>
    <header>
      <h1><%= folder.name %></h1>
    </header>

    <div class="container">
      <a class="back" href="/"> < go back </a>

      <div class="file-grid">
        <div class="file-header">
          <h3>Name</h3>
          <h3>Size</h3>
          <h3>Time</h3>
        </div>

        <% if (files) {%> <% files.forEach((file) => { %>
        <div class="file-card">
          <p class="file-name"><%= file.name %></p>
          <p><%= file.size %></p>
          <p><%= file.time %></p>
        </div>
        <%})%> <% } else {%>
        <div>
          <p class="error">This folder is empty.</p>
        </div>

        <% } %>
      </div>
    </div>
    <footer>
      designed by
      <a id="github" href="https://github.com/dasha-solomkina"
        >dasha-solomkina</a
      >
    </footer>
  </body>
</html>
