* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.folder-file-btn {
  background-color: #cbd5e0;
  color: black;
  font-weight: 600;
  min-width: 120px;
}

.logging-btn {
  background-color: #4a5568;
  color: white;
}

button {
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf2f7;
  padding: 2%;
  border-bottom: 1px solid #cbd5e0;
}

.time {
  color: rgb(99, 98, 98);
  font-style: italic;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2%;

  /* align-items: center; */
  /* justify-content: space-between; */
  min-height: 100vh;
}

.add-btn {
  display: flex;
  gap: 30px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: auto;
  width: 100%;
}

#github {
  text-decoration: none;
  color: white;
  margin-left: 6px;
}

.back {
  text-decoration: none;
  color: #8044e2;
  font-style: italic;
}

#github:hover {
  color: #8044e2;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}
